doctype html
html
  head
    title= title
    style
      include main.css
  body
  .container
    .verification-form
      .block.header
        img(src="https://photos-5.dropbox.com/t/2/AABB0NOeSfRvmLiy2WMOQwsoC8GOTAKXVWbAFz_Zi49QMA/12/2816963/png/32x32/3/1475737200/0/2/buybitcoin-logo.png/EOvVp-0EGMoiIAIoAg/9JNSn9rVPS2PnXzQ66NnaB_Dl1-27hWZzqtTqowYOUo?size_mode=3&dl=0&size=2048x1536")
        h4 #{title}
      .block.content
        block content
    .footer-verify
      p
        | Unit 606 GC Corporate Plaza 150 Legazpi Street, Legaspi Village,
        | Makati City, Metro Manila Philippines 1229
        | +63(02)843 3831 or +63 905 216 1314 - hello@sci.ph
      img(src="https://photos-4.dropbox.com/t/2/AADD1HFX_R9yNYwtttlLRxGiD97DrfUL138WbdMWq7CW9A/12/2816963/png/32x32/3/1475737200/0/2/sci-logo.png/EOvVp-0EGMoiIAIoAg/qB2sfAVQN5F7fGcrh675DkNlOgT2TrvYedhp21iI1ns?size_mode=3&dl=0&size=2048x1536")
