body {
  margin: 0;
  background-color: #f9f9fb;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container {
  width: 70%;
  height: 100%;
  margin: auto;
  margin-top: 10%; }
  .container .verification-form {
    background-color: white;
    border: 1px solid #eaeaec;
    min-width: 389px;
    max-width: 518px;
    border-radius: 4px;
    margin: auto; }
    .container .verification-form .header {
      border-bottom: 1px solid #eaeaec;
      height: 70px; }
      .container .verification-form .header img {
        height: 75px; }
      .container .verification-form .header h4 {
        float: right;
        font-weight: 300; }
    .container .verification-form .content {
      padding: 20px 40px; }
      .container .verification-form .content h4 {
        font-weight: 300; }
      .container .verification-form .content .verify-link-button {
        font-size: 16px;
        color: #fff;
        border: none;
        background-color: #ef6443;
        padding: 15px;
        border-radius: 6px;
        margin: 20px 0px;
        display: inline-block;
        text-decoration: none; }
  .container .footer-verify {
    text-align: center;
    min-width: 389px;
    max-width: 518px;
    margin-top: 40px;
    margin: auto; }
    .container .footer-verify p {
      color: #929397;
      font-weight: 200; }

.block {
  padding: 5px 20px; }

.buybitcoin-logo {
  background-image: url("/images/buybitcoin-full-white-logo.svg");
  background-size: cover; }

.buybitcoin-logo-svg {
  fill: #e6653d; }
