extends layout

block content
    p
    | You requested to have your password reset.
    | Click this <a href="#{siteHost}/password-reset?hash=#{passwordResetHash}">link.</a> to reset your password.
    | Originated from IP:#{fromIp}
