extends ./layout

block content
    .user-message
    h4 Hello <strong> #{name}</strong>
    h4 Please click on the link below to verify your account

    a(class='verify-link-button' href=link)  Click to verify your account

    h4 Thanks!
    h4 <strong> Team BuyBitcoin </strong>
