extends ./layout.pug

block content
    h1 You have successfully signed up
    span(style="font-size:15px;color:#606060") Hey #{user},

    p(style="font-size:15px;color:#606060") Thank you for creating an account with us! You can start buying and selling bitcoins by signing in to your account. To the moon!

    a(style="display:block;margin-top:20px;color: white;border-radius: 4px;background:#51af7e;margin-left:auto;margin-right:auto;text-align:center;text-decoration:none;width:200px;padding:20px;" href="https://buybitcoin.ph/login") Sign into your account
