doctype html
html
  head
    style
      include index.css
  body(style="background:#f2f2f2;margin:0;padding:10px")
    .vertical
      .container(style="width:600px;background:white;margin-left:auto;margin-right:auto;")
        block header
          header(style="overflow:auto;display:table;width:100%;padding:10px")
            img(height="40", style="float:left", src="https://ci4.googleusercontent.com/proxy/Uc5RoGJo6Qr7SAy6cvxmDpjvXr37XG_95WlQONc8x4Ah9WaUGsEkMwO0tG1OIMkx4TEeo4bY38SX5CxKRQBfpmjCJ3EVRff91WjeDUZ8zaMOfp2v9vZI4ULOxSg0E2T4aC0RD6QiJHYtCkmBm77gMF36H6neVUjQ0bLqTHo=s0-d-e1-ft#https://gallery.mailchimp.com/01a7712e69ce2b2dd2326d5fe/images/d2313a05-2bae-46cb-b97f-9b60c08a60ca.png")
            .title-container(style="display:table-cell;vertical-align:middle")
                h2(style="font-family:Helvetica;color:#404040;display:inline-block;float:right;") Verify your email
        section(style="padding:10px;border-top:1px solid #c4c4c4; border-bottom:1px solid #c4c4c4;")
          block content
        footer(style="padding:10px")
          em(style="font-size:11px;") Copyright © 2016 BuyBitcoin.ph, All rights reserved.
